.container {
  background-color: #010003;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  color: #ffffff;
  transition: background-image 1s ease-in-out;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blur-in 1s linear both;
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.container1 {
  background-image: url("https://images.pexels.com/photos/4348404/pexels-photo-4348404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  width: 60%;
  height: 45%;
  border: 2px solid black;
  animation: slideInRight 1s ease-in-out;
  transition: transform 0.3s;
  
}

.container1:hover {
  transform: scale(1.1);
 

}

.container2 {
  background-image: url("https://images.pexels.com/photos/8721342/pexels-photo-8721342.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  width: 60%;
  height: 45%;
  border: 2px solid black;
  animation: slideInLeft 1s ease-in-out;
  transition: transform 0.3s;
  
}

.container2:hover {
  transform: scale(1.1);
  transform-origin:right;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.pF{
  color:rgb(0, 0, 0) ;
  background-color: #4b484867;
  font-size: 24px;
  font-weight:bold;
  margin-top: 8rem;
 

}
.pS{
  color:rgb(61, 224, 246) ;
  background-color:rgba(35, 210, 226, 0.063);
  font-size: 24px;
  font-weight: bold;
  margin-top: 8rem;
  text-shadow: 2px 5px 4px hwb(0 0% 100%);

}
.h1 {
  text-shadow: 2px 3px 4px rgb(2, 0, 0);
  padding: 2.5%;
  animation: scale-up-top 2s;
  color: #fffcfc;
  transition: transform 0.3s, filter 0.3s;
  
}

.h1:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.button {
  padding: 7px 20px;
  background-color: #ffffffb5;
  color: #010101;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff00ff, #ff0000) 1;
  background-clip: padding-box;
  animation: borderGradientAnimation1 infinite 2.5s;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  
}

.button:hover {
  background-color: #000000;
  color: white;
  
}


@keyframes borderGradientAnimation1 {
  0% {
    border-image: linear-gradient(to right, #ff00ff, #ff0000) 1;
  }
  20% {
    border-image: linear-gradient(to right, #ff0000, #800080) 1;
  }
  40% {
    border-image: linear-gradient(to right, #800080, #0000ff) 1;
  }
  60% {
    border-image: linear-gradient(to right, #0000ff, #00ffff) 1;
  }
  80% {
    border-image: linear-gradient(to right, #00ffff, #ff00ff) 1;
  }
  100% {
    border-image: linear-gradient(to right, #ff00ff, #ff00ff) 1;
  }
}

.imgcat {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

