

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('./landing2.png');
  background-size: cover;
  background-position: center;
  animation: moveBackground 20s infinite;
  
}

@keyframes moveBackground {
  0% {
    background-position: 0 0; /* Posición inicial de la imagen */
  }
  100% {
    background-position: 100% 100%; /* Posición final de la imagen */
  }
}

.container {
  position: absolute;
  left:53.6%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

  
  .title {
    font-size: 100px;
    position: fixed;
    top: -12%;
    left: 0;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    position: center;
    text-align: center;
    font-weight: bold;
    color: #2081addc;
    background-color: rgba(255, 255, 255, 0.548);
    margin-bottom: 20px;
    
  }
  
  .subtitle {
    font-size: 18px;
    color: #66666698;
    
  }
  .boton {
    display: inline-block;
    border-radius: 4px;
    background-color: #28b0b4;
    border: none;
    color: #ffffff;
    font-size: 28px;
    padding: 20px;
    width: 280px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
  }
  .boton1{
    display: inline-block;
    border-radius: 4px;
    background-color: #28b0b4;
    border: none;
    color: #ffffff;
    font-size: 28px;
    padding: 20px;
    width: 280px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    animation:shadow-drop-center 0.4s linear both} 
    @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 20px 0 rgb(60, 247, 206)}}
  
  .boton:hover {
    background-color: #0023944f;
    opacity: 1;
    padding-right: 425px;
    
  }
  
  .boton1:hover{    background-color: #0023944f;
    opacity: 1;
    padding-right: 425px;
    }

  .botoncontainer{
   
   text-align:auto;
    width: 100px;
    height: 100px;
    
  }
  .sectionBanner {
    display:flex;
    justify-content: center;
    align-items: center;
    color:#1a936f;
    width: 100%;
    height:80%;
   }
  
    .bannerImg {
      width: 150px;
      margin-right: 1%;
      height:150px;
      border-radius: 50%;
    }

