.component-dark{
  background-color: #010003;
  color: #FFFFFF;
}
.component-light{
  background-color: rgb(253, 245, 245);
  color: #302F2C;
}

body {
  margin: 0;
  font-family: Arial, sans-serif !important;
}