.component-dark{
  background-color: #010003;
  color: #FFFFFF;
}
/* mira, la bolsa que puse en la navbar, no le puse la clase de dark o light, fue automatico y creo que se debe a este componente

cuando esta en modo oscuro, la bolsa tiene color blanco, y visceversa, o sea que funciona a pesar que no especifique un color 
determinado para dark o light mode

es porque app aplica los estilos a todos los componentes, los demas absorben los estilos, y si los otros tienen estilos, entonces
los nuevos estilos pisan a los de arriba

en este caso app controla todo

la propiedad color aplica a textos y parece que a iconos tambien

entonces en search bar, por ejemplo, no secesitamos expecificar el color que va a tener SEARCH en caso que el tema sea claro u oscuro
de eso ya se encarga app, donde estamos

lo mismo con background color, con la excepcion de que nosotros apliquemos background color a los componentes, el color en modo light
va a ser negro y visceversa

por ejemplo en el carrito. el carrito deberia reaccionar a los estilos de app (de aqui). o sea que si es dark, el fondo deberia ser oscuro
y si es light, el fondo deberia ser blanco. Pero ahi no pasa eso,
 porque cart tiene como backgroun color azul pero como no tiene dark mode se pas a negro como default 
lo que no cambia es el contenedor item, si vez se cambia todo el fndo a negro pero el contenedor de los items sigue siendo blanco 

si eso sies como que si bien tiene el background azul, al no tener un color para dark mde se hace por default lo que app diga, si entiendo
^-- creo que no aplica el dark mode a cart, no estoy seguro, si entendi bien, no deberia aplicar el dark mode, porque a cart, se le
aplica el estilo mas cercano, en esa caso, el estilo mas cercano es azul. 


osea no entendi..no estas seguro de que color se aplica en dark mode en cart? 
se que en modo light es azul per creo que en darkes negro ya que es lo que dice app , queres que lo chequemos?

sii, en principio deberia ser azul para light o dark, pero habra que chequear
oki ahi le pido a jorge que lo cambie asi lo vemos 
entonces cuando decimos cart, es tinda o carrito? }(se 
que sera carrito pero tengo la duda :v)
si, es el carrito, oki ahi ke digo veamos 

claro, ahi solo cambia el resto de componentes que no tienen definido un background color
solo, debemos aplicar estilos dark o light a los componentes a los que le aplicamos algun color en especifico.

app controla todo, tiene dark y light mode
  tienda, sin background color, coge los estilos de app, por eso ahi funciona dark/light mode.
  carrito, con background color, coge su propio estilo muy aparte de si app esta en dark o light mode.

  claro, entiendo, entonces tanto tienda como carrito detail no tienen que tener background en .container 
  entiendo bien?
  exacto, para que funcione el dark mode, tenemos que hacer eso. A no ser de que queramos definir un background color azul el el
  carrito, por ejemplo, y para que funcione el dark mode, tenemos que aplicar darle una clase con la funcion theme y cambiar el estilo:

  ejemplo:

  container {
    margin-top: 10vh,
    display: flex,
    etc
  }
  container-light {
    background-color: blue;
  }
  container-dark {
    background-color: black;
  }
aunque estuve viendo que en tinda si implementamos la funcion de dark mode, osea tal vez por eos funciona el dark mode 
en tienda y no en el carrito , me parece que en carrito no esta implementada la funcion del estado 
tal vez no sea por tenes declaradoelazul como background sino por la funcion que le estaria faltando 
me explico?
basicamente queremos intentar que si no aclaramos un color de background para el contenedor se use por default lo dicho 
en app cierto?
y que si queremos usar otros colores aclaremos esto que vos decis no?
exacto
 
  te parece si damos un recorrido por todos los estilos?
XD siii para compararlos, lo que si tendriamos que majear una listita como para anotar o que tiene y lo que le falta a cada componente 
como para darnos cuenta las diferencias ,si te parece anotamos aca en app.css 

si nos comunicamos por aca dices? 
dale, yo te sigo nomas, y como mucho te comento por aca te parece? 

en app tenemos:

    <div className={`${s[theme("component")]}`}>

      {location !== "/" && <NavBar logoutUser={logoutUser} />}

      <Routes>
        <Route path="/" element={ <LandingPage/>}/>
        <Route path="/HomePage" element={<HomePage/>}/>
        <Route path="/CoursePage" element={<CoursePage />} />
        <Route path="/Profile" element={<Profile />} />
        <Route path="/Store" element={<Shop />} />
        <Route path="/Cart" element={<Cart />} />
        <Route path="/AdminPanel" element={<AdminPanel />} />
        <Route path="/CourseDetails/:id" element={<CourseDetails />} />
        <Route path="/Commingsoon" element={<Commingsoon />} />
        <Route element={<ProductDetail />} />
      </Routes>

      {isAtBottom && <Footer />}

    </div>

    bien, tenemos el navbar que aparece en todas las rutas excepto en landing
    y el footer que aparece en todas las rutas, tenemos que ajustar esto creo
    como sabes que el footer esta en todas las rutas? y no en landing?
    esta en landing, pero segun yo, no aparece, porque el footer tiene una condicional
    cade vez que el usuario desliza la pagina hasta el fondo, aparece el footer
    en landing no va a aparecer, porque la pagina no es larga como para que el usuario
    deslice, no le da chance a que que la funcion actue.

    claro
    bueno, entonces, donde deberia ir el footer?
    no van en landing,
    va en homepage,
    en tienda,
    en coursepage,
    en el carrito,
    disculapem la pregunta, el footer..es lo que encontramos abajo en la magina cierto?
    sii ese ese, la  info y tal
    claor lo que la politica y eso no?  siii ese mismo

    iria en el perfil del usuario? 
    bueno, yo lo pondria en homepage, porque ahi vas a tener la informacion de la politica
    el contacto, podemos poner todos los links que tengamos, por ejemplo, courses, tienda, carrito, etc
    
  
  si, me parece bien lo que decis 
  y que crees sobre ponerlo en el perfil del usuario? crees que esta bien o no?
  no es necesario creo, ya que va a estar en casi toda la pagina 
  bueno, entonces tenemos que condicionar eso.

  
  si queres mantenemos las tareas en la parte de abajo y seguimos comentando por aca arriba, asi nos 
  queda limpia la lista de tareas a realizar te parece? genial jaaj mira la vista previa del codigo a la derecha, fuuull
  nuestro azul de escribir jaja ajaj dale
  
  puedes separar los archivos? creo que asi se te hace mas facil, para ver lo que hay en navbar y escribir por aca

  como?

  manten presionado el archivo de navbar deslizalo y lo sueltas a la derecha de este archivo.
  ah sisi el duplicado 
  yess
  dale, si tienes razon jajaj
  vamos a navbar primero
  oki estoy 

  bien navbar tiene como padre a appjsx, entonces le cambie la medida del height al componente.
  creo que antes estaba con %, ahora esta con vh.
  claro el echo de que tenga % es por el responsive, diria de poner todos al mismo %

  El vh tambien es responsive, el vh son los pixeles que tiene la vista de la pagina.

  por ejemplo, una latop de 15 pulgadas tiene como viewport: 1920x1080, algo asi
  un celular tiene menos y asi

  cada vez que se achique la pantalla, el vw cambia. Si es una laptop, el viewport se agranda,
  si es un celular, el vw se achica. entonces el vw tmb es responsive.

  el porcentaje es una medida que aplica en base al elemento padre
  por ejemplo. si navbar tiene como width 100% que seria por ejemplo 1920px (que es el ancho de una latop)
  y el boton dentro del navbar, tiene width 100%, el boton va a tener 1920px, porque va a tener el 100% del
  component padre, en este caso navbar.

  ahora si navbar tiene como height 50%, que seria 1080/2 = 5


  =======TAREAS=========
  
  1) condicionar footer
  2)

  */

.component-light{
  background-color: rgb(253, 245, 245);
  color: #302F2C;
}

body {
  margin: 0;
  font-family: Arial, sans-serif !important;
}