.component-dark{
  background-color: #010003;
  color: #FFFFFF;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  /* height: 100%;
  width: 100% */
};