.container{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.672);
    width: infinite;
    height: infinite;
    display:flex;
    top: 0;
    left: 0;
   bottom: 0;
   right:0;
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-items: center;
    animation:blur-in 0.4s linear both}
     @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
  .item{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .perfilbutton{ 
    margin-right: 10px;
    padding: 0%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
  }
  .image {
    border: 2px solid #112;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .image:hover{
    border: 2px solid rgb(253, 255, 116);
  }


  
.bar1 {
  padding-top: 4%;
  position:fixed;
  top:0;
  right: 0;
  width: 4%;
  height: 100vh;

  background-color: rgba(238, 136, 153, 0.623);
  overflow: hidden; /* Ocultar el contenido que excede el tamaño del contenedor */
  transition: width 0.6s; /* Agregar una transición suave para cambiar el ancho */
}

.bar1:hover {
  background-color: rgba(252, 134, 105, 0.795);

  width: 23%; /* Mostrar la barra completa cuando el mouse está encima */
}


.bar1 a {
  line-height: 4em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: rgb(14, 1, 1);
  display: block;
  transition: all ease-out 300ms;
  white-space: nowrap; /* Evitar el salto de línea */
  overflow: hidden; /* Ocultar el texto que no cabe */
  text-overflow: ellipsis; /* Reemplazar el texto oculto con puntos suspensivos */

}

/*__________________________________________________*/
.accountOptionsWrapper {
  position: relative
}

.accountOptionsImage {
  display: flex;
  align-self: center;

  padding: 35px;
  cursor: pointer;
}
.accountOptionsWrapper:hover {
  background-color: #588B8B;
  color: #FFF4ED;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.5)
}

.accountOptionsList {
  display: none;
  z-index: 9999;
  position: absolute;
  margin: 0;
  padding: 1rem;
  width: 10rem;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: bisque;
  list-style: none;
  right: 0;
}
.accountOptionsList li{
  padding: 0.25rem;
  color: black;
  cursor: pointer;
}

.accountOptionsWrapper:hover .accountOptionsList {
  display: block;
}