.component {
   position:absolute;
   top: var(--navBarHeight);
   width: 100%;
   min-height: calc(100vh - var(--navBarHeight));
   animation: blur-in 1s ease;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}
@keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.component-dark {
   background-color: #111111;
}

.title {
}

.title h1 {
   margin: 10%;
   font-size: 200%;
}

.content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   box-sizing: border-box;
   width: 100%;
   gap: 3rem;
   padding:  5%;
}

.team {
   display: flex;
   flex-direction: column;
   width: 16rem;
   margin-top: 4rem;
   gap: 15px;
   transition: 1s ease;
   animation: slideInFadeIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   position: relative;

}
.team:hover {
   scale: 1.1;
}

.imageWrapper {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: transparent;
   border-radius: 15px 15px 0 0;
   transition: box-shadow 0.5s;
   position: relative;
}

.imageWrapper img {
   width: 100%;
   display: flex;
   margin-top: -4rem;
   height: auto;
   z-index: 699;
}

.imageWrapper:hover {
   /* box-shadow: 0 0 15px 5px rgba(255, 202, 61, 1), 0 0 30px 8px rgba(0, 221, 250, 0.9); */
   box-shadow: 0 0 30px 8px rgba(0, 221, 250, 0.9);
   /* box-shadow: 0 0 15px 5px rgba(255, 210, 60, 0.8), 0 0 30px 8px rgba(0, 195, 255, 0.8); */  
   cursor: pointer;
   background-position: 100% 100%;
   background-size: 200% 100%;
}


@keyframes shining {
   0% {
      background-position: 0 0;
   }
   25% {
      background-position: 100% 0;
   }
   50% {
      background-position: 100% 100%;
   }
   75% {
      background-position: 0 100%;
   }
   100% {
      background-position: 0 0;
   }
}

@keyframes slideInFadeIn {
   from {
      opacity: 0;
      transform: translateX(-20px);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}
.team:nth-child(1) {
   animation-delay: 0.4s;
}
.team:nth-child(2) {
   animation-delay: 0.8s;
}
.team:nth-child(3) {
   animation-delay: 1.2s;
}
.team:nth-child(4) {
   animation-delay: 1.6s;
}
.team:nth-child(5) {
   animation-delay: 2s;
}
.team:nth-child(6) {
   animation-delay: 2.4s;
}
.team:nth-child(7) {
   animation-delay: 2.8s;
}


/* ----------------------- */

.francisco {
   /* background-color: #ffd277; */
   /* background: linear-gradient(#ffdc95, #99e4ff); */
   /* background: linear-gradient(#ffdc95, #f6a212); */
   /* background: linear-gradient(135deg, #ffd452, #9a6df4); */
   background: linear-gradient(135deg, #009fff, #ec2f4b);
   animation: shining 4s linear infinite; 
}
.gianina {
   /* background-color: #ffafaf; */
   /* background: linear-gradient(#ffc7c7, #ff8b8b); */
   /* background: linear-gradient(#fba9a9, #ff4f4f); */
   /* background: linear-gradient(#beffda, #ff9494); */
   /* background: linear-gradient(135deg, #ff91a4, #ffce8e); */
   /* background: linear-gradient(135deg, #fccc82, #ba23ba); */
   /* background: linear-gradient(135deg, #b1fc7f, #fe57d7); */
   /* background: linear-gradient(135deg, #ffe100, #d227d5); */
   background: linear-gradient(135deg, #d0ff00, #d227d5);
   animation: shining 4s linear infinite; 
}
.jorge {
   /* background-color: #ccffa9; */
   /* background: linear-gradient(#ccffa9, #a3fd67); */
   /* background: linear-gradient(#c2c8ff, #5667fc); */
   /* background: linear-gradient(#85fff7, #6776fd); */
   /* background: linear-gradient(135deg, #009fff, #ec2f4b); */
   background: linear-gradient(135deg, #66edd2, #ff3eb8);
   animation: shining 4s linear infinite; 
}
.micaela {
   /* background-color: #58fff4; */
   /* background: linear-gradient(#bdfffb, #58fff4); */
   /* background: linear-gradient(135deg, #ff91a4, #ffce8e); */
   background: linear-gradient(135deg, #a462ff, #bdfffb);
   animation: shining 4s linear infinite; 
}
.santiago {
   /* background-color: #1fc3ff; */
   /* background: linear-gradient(#99e4ff, #1fc3ff); */
   /* background: linear-gradient(135deg, #9b1df0, #00f0b5); */
   /* background: linear-gradient(135deg, #ffb400, #06cc8a); */
   background: linear-gradient(135deg,#81ddff, #a3fd67);
   animation: shining 4s linear infinite; 
}
.sebastian {
   /* background-color: #ffed26; */
   /* background: linear-gradient(#fff9b2, #ffed26); */
   /* background: linear-gradient(#f6a212, #ffed26); */
   /* background: linear-gradient(135deg, #fdd819, #e80505); */
   background: linear-gradient(135deg, #ffd500, #e12c2c);
   animation: shining 4s linear infinite; 
}
.sol {
   /* background-color: #ffd07f; */
   /* background: linear-gradient(#ddc5ff, #b683ff); */
   /* background: linear-gradient(#ffe1ae, #ffc258); */
   /* background: linear-gradient(135deg, #ff8b8b, #ffc258); */
   /* background: linear-gradient(135deg, #ff6b6b, #ffa69e); */
   background: linear-gradient(135deg, #00a1a1, #b7f8db);
   animation: shining 4s linear infinite; 
}