.component {
      /* display: grid; */
      /* grid-template-columns: repeat(2, 1fr); */
      display: flex;
      align-items: center;
      /* min-height: 30rem;
      max-height: 30rem; */
      height: 30rem;
      gap: 2%;
      padding: 0 4%;
      /* left: 100rem; */
      /* margin-left: 1px !important; */
      overflow: hidden;
      box-sizing: border-box !important;
      /* padding: 10px; */
      transition: transform 0.7s, max-height 1s ease, width 1s ease;; 
   }
   .component:hover {
      transform: scale(1.02);
   }
   .component-light {
    outline: none;
      border: 3px solid;
      background-color: #ffffff;
      color: #030000;
      animation: borderGradientAnimation1 infinite 2.5s;
   }
   .component-dark {
      border: 3px solid;
      background-color: #000000;
      color: #ffffff;
      animation: borderGradientAnimation2 infinite 2.5s;
   }


.container1 {
   display: flex;
   flex-direction: column;
   width: 64%;
   box-sizing: border-box;
   }
   .title {
      font-size: 4rem;
      margin-bottom: 1rem;
      align-self: start;
      letter-spacing:10px;
      text-decoration: none; 
   }
   .title-light {
      background-color: #f7f7f7;
      color: black;  
   }
   .title-dark {
      background-color: #000000;
      color: rgb(255, 255, 255); 
   }

   .description {
      font-size: 24px;
      /* width: 600px; */
      margin: 0;
      /* margin-left: 10%; */
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4; /* Muestra solo 4 líneas */
      line-clamp: 4; /* Muestra solo 4 líneas */
      text-overflow: ellipsis; /* Agrega puntos suspensivos */
   }
   .description-light {
      background-color: #f7f7f7;
      color: rgb(0, 0, 0);
   }
   .description-dark {
      background-color: #0a0101;
      color: rgb(255, 255, 255);
   }

.container2 {
   display: flex;
   flex-direction: column;
   width: 34%;
   }
   .container2 img{
      height: auto;
      width: 100%;
      /* padding-left: 30%; */
      /* object-fit: cover; */
   }  
   .container2 h2 {
      font-size: 12px;
      /* padding-left: 40%; */
      font-weight: bold;
      text-align: center;
      }
      .free {
         color: rgb(71, 238, 71);
      }
      .payment {
         color: rgb(187, 50, 50);
      }
   
      @keyframes borderGradientAnimation1 {
         0% {
         border-image: linear-gradient(to right, #ff00ff, #ff0000) 1;
         }
         20% {
         border-image: linear-gradient(to right, #ff0000, #800080) 1;
         }
         40% {
         border-image: linear-gradient(to right, #800080, #0000ff) 1;
         }
         60% {
         border-image: linear-gradient(to right, #0000ff, #00ffff) 1;
         }
         80% {
         border-image: linear-gradient(to right, #00ffff, #ff00ff) 1;
         }
         100% {
         border-image: linear-gradient(to right, #ff00ff, #ff00ff) 1;
         }
      
      }
      @keyframes borderGradientAnimation2 {
         0% {
         border-image: linear-gradient(to right, #00ffff,#0000ff) 1;
         }
         20% {
         border-image: linear-gradient(to right,  #0000ff, #00ffff) 1;
         }
         40% {
         border-image: linear-gradient(to right, #00ffff,#0000ff) 1;
         }
         60% {
         border-image: linear-gradient(to right, #0000ff, #00ffff) 1;
         }
         80% {
         border-image: linear-gradient(to right, #00ffff,#0000ff) 1;
         }
         100% {
         border-image: linear-gradient(to right,  #0000ff, #00ffff) 1;
         }
      
      }