.reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    background-color: whitesmoke;
    box-shadow: inset 1px 1px 5px -1px rgba(128, 128, 128);
    height: 400px;
    overflow-y: scroll;
    gap: 10px;
}
.reviews-dark {
    
    background-color: rgb(51, 51, 51);
    box-shadow: inset 1px 1px 5px -1px rgba(128, 128, 128);
}

.oldComment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.courseImage {
    display: flex;
    justify-content: center;
}

.courseImage img {
    width: 130px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.commentInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.message {
    width: 100%;
    font-size: 15px;
    padding: 0 5px 0 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: gray;
    padding: 0 5px 0 5px;
}

.delete img {
    height: 25px;
}

.delete:hover img  {
    cursor: pointer;
    transform: scale(1.15);
}