.coursePageComponent {
    display: flex;
    flex-direction: column;
}

.coursePageC-mainBanner {
    height: 60vh;
   
    border: 2px solid red;
}

.coursePageC-filters {
    display: flex;
    justify-content: space-evenly;
    border: 2px dotted blue
}

.coursePageC-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
    border: 2px dotted green;
}

.coursePageC-card {
    min-height: 20rem;
    min-width: 15rem;
    border: 2px solid red;
}