.component {
    height: var(--navBarHeight);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 9998;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    /* OPCION AGREGAR PADDING-BOTTOM: 2% */
    /* padding: 2% 0% 2%; */
    animation:blur-in 0.4s linear both
} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.component-light {
    background-color: rgba(251, 251, 252, 0.623);
}
.component-dark {
    background-color: #010003;
}

  .sectionBanner {
    display: flex;
    align-items: center;
    float: left;
    transform: translateY(-25%);
    cursor: pointer;
    }
    .mainLogo {
        margin: 0 2px;
        font-size: 1.1rem;
        cursor: pointer;
      }
      .mainLogoGuru {
        margin: 0;
        font-size: 1.1rem;
        cursor: pointer;
        position: absolute;
        transform: translateX(10%);
      }
      .mainLogo-light {
        text-shadow: 2px 3.5px 2px rgba(6, 103, 116, 0.774);
      }
      .mainLogo-dark {
        text-shadow: 2px 3.5px 2px rgb(39, 126, 197);
      }
    .bannerImg {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }


  .button {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ;
    padding: 0;
    }
    .button:hover{
      transform: scale(1.04);
    }

  
    .link {
        /* font-size: 100%; */
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2em;
        font-weight: bold;
      }
      .hide{
          display:none;
      }
  .link:hover +.hide {
          display: block;
          position: fixed;
          width: 150px;
          margin-left: -40%;
          text-shadow: 0px 3px 12px rgb(128, 255, 255);
          cursor: pointer;
          color: rgb(38, 12, 233);
  animation:scale-up-center 0.4s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} } 
   
      
      .hideTienda{
          display:none;
      }
      .link:hover +.hideTienda{
          display: block;
          position: fixed;
          margin-left: -40%;
          text-shadow: 0px 3px 12px rgb(128, 255, 255);
          cursor: pointer;
          width: 150px;
          color: rgb(38, 12, 233);
          animation:scale-up-center 0.4s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }     
          .hideCarrito{
              display:none;
          }
          .link:hover+ .hideCarrito{
              display: block;
          position: fixed;
          margin-left: -29%;
          text-shadow: 0px 3px 12px rgb(128, 255, 255);
          cursor: pointer;
          width: 150px;
          color: rgb(38, 12, 233);
          animation:scale-up-center 0.4s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }       
          
      
    .link-light {
      color: rgba(2, 14, 17, 0.932);
    }
    .link-dark {
      color: rgba(247, 249, 250, 0.932);
    }

.bolsita {
    height: 25%;
    transition: transform 0.5s;
    z-index: 9998;
}
.bolsita:hover{
  transform:scale(1.5);
  cursor: pointer;
}

.bolsita-dark {
    fill: white;
}

/* .bolsitaEmpty {
    height: 90%;
    transition: transform 0.5s;
    z-index: 9998;
}
.bolsitaEmpty-light {
    fill: black;
}
.bolsitaEmpty:hover {
    transform:scale(1.7);
    cursor: pointer;
}
.bolsitaEmpty-dark {
    fill: white;
} */

.barsButton {
    display: none;
    height: 25%;
    transition: transform 0.5s;
}

.barsMenu {
    position: absolute;
    top: var(--navBarHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}
.barsMenu-light {
    background-color: rgba(251, 251, 252, 0.623);
}


/* ------------ RESPONSIVE PROPERTIES -------------*/

.buttonProfile-responsive {
    display: none;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ;
    padding: 0;
}
.buttonProfile-responsive:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 1000px) {
    .barsButton {
        display: block;
    }
    .inicio {
        display: none;
    }
    .admin-responsive {
        display: none;
    }
    .searchBar-responsive {
        display: none;
    }
    .subscription-responsive {
        display: none;
    }
    .barsButton:hover {
        transform:scale(1.4);
    }
    .bolsita:hover{
        transform:scale(1.4);
    }
}

@media screen and (width > 1000px) {
    .barsMenu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .searchBar {
        display: none;
    }
    .searchBar-responsive {
        display: block;
    }
    .subscription {
        display: none;
    }
    .subscription-responsive {
        display: block;
    }
    .bolsita {
        order: 1;
    }
    .admin {
        display: none;
    }
    .admin-responsive {
        display: block;
    }
    .metamask {
        order: 2;
    }
    .sectionBanner {
        order: 3;
    }
    .menu {
        order: 4;
    }
    .barsButton {
        order: 5;
    }
}

@media screen and (max-width: 400px) {
    .bolsita {
        display: none;
    }
    .metamask {
        position: absolute;
        left: 1rem;
    }
    .sectionBanner {
        position: absolute;
    }
    .menu {
        display: none;
    }
    .barsButton {
        right: 1rem;
        position: absolute;
    }
    .buttonProfile-responsive {
        display: block;
    }
}