.component {
  height: var(--navBarHeight);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 100%;
  animation:blur-in 0.4s linear both
  } @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

  .component-light {
    background-color: rgba(251, 251, 252, 0.623);
  }
  .component-dark {
    background-color: #010003;
  }

  .sectionBanner {
    display: flex;
    align-items: center;
    float: left;
    }
    .mainLogo {
        margin: 0 2px;
        font-size: 1.1rem;
        cursor: default;
      }
      .mainLogoGuru {
        margin: 0;
        font-size: 1.1rem;
        cursor: default;
        position: absolute;
        transform: translateX(10%);
      }
      .mainLogo-light {
        text-shadow: 2px 3.5px 2px rgba(6, 103, 116, 0.774);
      }
      .mainLogo-dark {
        text-shadow: 2px 3.5px 2px rgb(39, 126, 197);
      }
    .bannerImg {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }


  .button {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ;
    padding: 0;
    }
    .button:hover{
      transform: scale(1.04);
    }

    .link {
      /* font-size: 100%; */
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2em;
      font-weight: bold;
    }
    .link:hover {
      text-shadow:  0px 3px 12px rgb(128, 255, 255);
      cursor: pointer;
    }
    .link-light {
      color: rgba(2, 14, 17, 0.932);
    }
    .link-dark {
      color: rgba(247, 249, 250, 0.932);
    }

.bolsita{
    height: 25%;
    transition: transform 0.5s;
    z-index: 9998;
}
.bolsita:hover{
  transform:scale(1.7);
  cursor: pointer;
}

.barsButton {
    display: none;
    height: 25%;
}

.barsMenu {
    position: absolute;
    top: var(--navBarHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.barsMenu-light {
    background-color: rgba(251, 251, 252, 0.623);
}


/* ------------ RESPONSIVE PROPERTIES -------------*/


@media screen and (max-width: 1000px) {
    .barsButton {
        display: block;
    }
    .inicio {
        display: none;
    }
    .button {
        
    }
    .searchBar-responsive {
        display: none;
    }
    .subscription-responsive {
        display: none;
    }
}

@media screen and (width > 1000px) {
    .barsMenu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .searchBar {
        display: none;
    }
    .searchBar-responsive {
        display: block;
    }
    .subscription {
        display: none;
    }
    .subscription-responsive {
        display: block;
    }
    .bolsita {
        order: 1;
    }
    .metamask {
        order: 2;
    }
    .sectionBanner {
        order: 3;
    }
    .menu {
        order: 4;
    }
    .barsButton {
        order: 5;
    }
}