.component {
  /* position: absolute; */
  /* right:0.5% */
}
.component:hover {
  background-color: #588b8b00;
  color: #FFF4ED;
}

.imageWrapper {
  display: flex;
  align-self: center;
  cursor: pointer;
  }
  .image {
    border: 2px solid #112;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .image:hover{
    border: 2px solid rgb(253, 255, 116);
  }

.options {
  display: none;
  z-index: 9999;
  position: absolute;
  margin: 0;
  padding: 1rem;
  width: 10rem;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: bisque;
  list-style: none;
  right: 0;
  }
  .options li{
    padding: 0.25rem;
    color: black;
    cursor: pointer;
  }
  .themeButton {
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .themeButton-light {
    background-color: white;
  }
  .themeButton-dark {
    background-color: black;
    }
    .sun {
      fill: white
    }
    .moon {
      fill: black
    }

.component:hover .options {
  display: block;
}