.container
{ display: grid;
    margin: 4%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    transition: transform 0.6s;

  }

  .container:hover{
    transform: scale(1.05);
}
