.container{
    margin-top: var(--navBarHeight);
    width: 99.7%;
    /* padding-top: 4%; */
    padding-bottom: var(--footerHeight);
    min-height: calc(100vh - var(--navBarHeight));
    background-color: rgb(94, 121, 148);
    color: aliceblue;
    animation:blur-in 1s linear both;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* box-sizing: border-box; */
  }
  @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
   
  .img{
   
      width:80px;
      height: 80px;
      margin-left: 5%;
      margin-right: 4%;
      border-radius: 100%;
      border: solid 2px;
      border-color: rgba(248, 248, 248, 0.658);
  }
  .price{
      font-size: 14px;
      color: rgb(0, 0, 0);    
  }
  
  .product {
      display: flex;
      align-items: center;
      width: 600px;
      height:100px;

  
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      background-color: rgba(240, 248, 255, 0.26);
    }
    
  
  
  .productscontainer{
      /* display: grid; */
      /* grid-template-columns: repeat(2, 1fr); */
      /* justify-content: space-around; */
      display: flex;
      flex-direction: column;
      /* padding: 0; */
      /* flex-direction: column; */
  }
  .flex {
      display: flex;
      /* margin-left: 1%; */
      /* display: grid; */
      /* grid-template-columns: repeat(2, 1fr); */
      /* justify-content: space-around;    */
  }
  
  
  .total {
      padding-left:13%;
      width: 100%;
      text-align: center;
  
  }
  
  
  .name2{
   font-size: 20px;
  width: 300px;
  }
  .name:hover{
      cursor: pointer;
  }
  
  .title{
      /* padding: 1%; */
    animation:scale-up-horizontal-left 0.4s }
       @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}}
  
  
  .cantidad{
      display: flex;
      height: 30px;
      width: auto;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      border-radius: 5px;
      background-color:black;
      color: white;
  }
  
  .cantidad_button{
      background-color:black;
      color: white;
  
      border: 2px solid black;
      transition: transform 0.3s}
  
  .cantidad_button:hover{ 
      transform: scale(1.06);
      color:black;
      border-radius: 100%;
      background-color: rgb(248, 248, 248);
      cursor: pointer;
  }
  
  .totalcontainer{
      display: flex;
      width: 500px;
      align-items: center;
      justify-content: center;
      background-color: rgba(2, 11, 19, 0.26)
  
  }
  
  .items{
      font-size: 14px;
      /* padding: 2%; */
      height: 25px;
      /* width: max-content; */
      /* margin-bottom: 4%;    */}

      .boton {
        display: inline-block;
        border-radius: 4px;
        background-color: #28b0b4;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        height: 30px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .buttonDisabled {
        background-color: white;
        border: none;
        color: white;
      }
      .buttonDisabled:hover {
        cursor: default;
      }
      
      .boton:hover {
        background-color: #0023944f;
        opacity: 1;
      }
      
      .name{
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
          font-size: 20px;
          margin-top: 0%;
           align-items: center;}
    
          .h1{
            margin-left: -50%;
          }

        
          .cargasimulada {
           
            position: fixed;
            top:0;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 9999;
            width: 100%;
            height: 100%;
            background-color: rgb(16, 91, 134);
            border: 3px solid rgb(255, 255, 255); 
            animation: cambioColor 4s infinite; 
          }
          @keyframes cambioColor {
            0% { border-color: rgb(255, 255, 255); }
            25% { border-color: blue; }
            50% { border-color: rgb(15, 54, 44); }
            75% { border-color: rgb(3, 4, 27); }
            100% { border-color: rgb(0, 0, 0); }
          }

          .metamask{
            height: 190px;
          }
          .cargandotxt{
            position: fixed;
            top:7%;
            animation:scale-up-vertical-center 0.4s} 
            @keyframes scale-up-vertical-center{0%{transform:scaleY(.2)}100%{transform:scaleY(1)}}