.container{
  margin-top: var(--navBarHeight);
  padding-top: 4%;
  padding-bottom: 15%;
  min-height: 90vh;
  background-color: rgb(94, 121, 148);
  color: aliceblue;
  animation:blur-in 1s linear both}
    @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
 
.img{
 
    width:80px;
    height: 80px;
    margin-left: 5%;
    margin-right: 4%;
    border-radius: 100%;
    border: solid 2px;
    border-color: rgba(248, 248, 248, 0.658);
    
}
.price{
font-size: 14px;
color: rgb(0, 0, 0);    
}

.product {
    display: flex;
    align-items: center;
    width: 500px;
    height:100px;

    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0.26);
  }
  


.productscontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    display: flex;
    
    flex-direction: column;
}
.flex{
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    
}


.total{
    padding-left: 20%;
    /* width: 65%; */
    text-align: center;

}


.name{
 font-size: 20px;
width: 300px;
}
.name:hover{
    cursor: pointer;
}

.title{
    padding: 1%;
    padding-left: 2%;
    animation:scale-up-horizontal-left 0.4s }
     @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}}


.cantidad{
    display: flex;
    height: 30px;
    width: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color:black;
    color: white;
  
}

.cantidad_button{
    background-color:black;
    color: white;

    border: 2px solid black;
    transition: transform 0.3s}

.cantidad_button:hover{ 
    transform: scale(1.06);
    color:black;
    border-radius: 100%;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.totalcontainer{
    display: flex;
    /* width: 400px; */
    justify-content: center;
    background-color: rgba(2, 11, 19, 0.26)

}

.items{
    font-size: 14px;
    padding: 2%;
    height: 25px;
    width: max-content;
    margin-bottom: 4%;
}