.coursesPreviewContainer {
   display: flex;
   justify-content: center;
   transform: scale(0.8);
   margin: 0;
}

.courseCardContainer {
   display: flex;
   justify-content: center; /* Add this to center the content horizontally within each slide */

}

.courses-container {
   display: flex;
   align-items: center;
   justify-items: center;
   width: 80%;
   transition: ease 2s;
   /* margin: 0 4rem; */
   /* position:absolute; */
}

.navigation-container {
   /* position: absolute;
   top: 30%;
   left: -15%;
   width: 130%;
   display: flex;
   justify-content: space-between; */
}

.swiper-button-prev,
.swiper-button-next {
   background-color: rgba(255, 254, 254, 0);
   color: #fff;
   /* padding:3rem; */
   border: none;
   font-size: 1.5rem;
   cursor: pointer;
}

   .swiper-pagination  {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.7;
      padding-bottom: 13%;

      transition: opacity ease 250ms;
   }
      .swiper-pagination:hover {
         opacity: 1;
         cursor: pointer;

   }

.swiper-pagination-bullet{
   scale: 1.8;
   border: 1px solid  rgb(255, 255, 255);
}
    
    