

.container{
    scale: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* z-index:99997; */
    z-index:9998;
    /* right: 0.55%;  */
    /* width: 20px; */
    height: 100px;
    /* margin-top: 4%; */
}



.img{
    border: 2px solid rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: transform 0.5s;
    /* margin-bottom: -90%; */
}

.img:hover{
    cursor: pointer;
    transform: scale(1.3);

}

  
.conectada{    

    color: rgb(20, 255, 196);
    text-shadow: 1px 1px 1px  black;
    position: absolute;
    transform: translate(-50%, -50%);
    /* margin-bottom:-16%; */
}

.desconectada{
    position: absolute;
    transform: translate(-50%, -50%);
    /* color: rgba(255, 254, 254, 0.897); */
    font-size: 80%;
}

.error {
    position: absolute;
    transform: translate(-50%, 10%);
}

.walletid{
    color: black;
    font-size: 10px;
    position: absolute;
    /* transform: translate(-50%, 50%); */
    margin-top: -40px;
}