

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18%;
    padding: 4%;
    width: 100%;
    background-color: rgb(248, 172, 7);
    border-radius: 6px;
    
}
.container:hover{
    background-color: rgb(20, 172, 199);
    cursor: pointer;

}



.img{
    padding-left: 8%;

    width: 40px;
    height: 40px;
    margin-right: 4%;
    border-radius: 100%;
    transition: transform 0.5s;
}




.txt{
    font-size: 16px;
}
.paymentButton{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color:white

}