

.container{
    display: flex;
    align-items: center;
    height: 48px;
    padding: 4%;
    width: 100%;
    background-color: rgb(248, 172, 7);
    border-radius: 6%;
    
}
.container:hover{
    background-color: rgb(199, 142, 20);
    cursor: pointer;

}



.img{
    padding-left: 8%;

    width: 66px;
    height: 40px;
    margin-right: 4%;
    border-radius: 100%;
    transition: transform 0.5s;
}




.txt{
    margin-left: 5%;
    font-size: 16px;
}
.paymentButton{
    width: 150px;
    font-size: 16px;

}