.darkContainer {
    background-color: #302F2C;
    color: #FFFFFF;
}
.lightContainer {
    color:#FFFFFF;
    color: #302F2C;
}

/* __________________________________________________ */
.adminPanelContainer {
    display: flex;
    flex-direction: column;
}
/* __________________________________________________ */
.adminPanelSection1 {
    display: flex;
}
/* __________________________________________________ */
.adminPanelSection2 {
    display: flex;
    flex-direction: column;
}

.adminPanelSection2-1 {
    display:flex;
    flex-direction: column;
}
.adminPanelSection2-1-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adminPanelSection2-1-1Input {
    margin: 0
}

.adminPanelSection2-1-2 {
    display: flex;
}

/* _________________________ */
.adminPanelSection2-2 {
    display: flex;
    flex-direction: column;

    width: 30%;
}

.adminPanelSectionCategoryList {
    display: flex;
    flex-direction: column;
}

.adminPanelSectionCategoryListItem {
    display: flex;

    justify-content: space-between;
}