.component {
  display: flex;
  flex-direction: column;
  margin-top:4%;
}

.Panel{
  position: absolute;
  padding: 4%;
  top: 40%;
  padding-bottom:20%;
  background-color: rgba(0, 0, 0, 0.26);
 

}
.contain{
  display: flex;
  justify-items: center;
  padding: 2%;
  margin:2%;
  justify-content: space-evenly;
}
.message{
  position: fixed;
  top: 8%;
  width:80%;
  height: 4%;
  z-index: 999999;
  background-color: black;
  color: white;
}
.mainButton {
  background-color: white;
  color: black;
  padding: 1%;

  border: 2px solid black;
  }
  .mainButton h1 {
    font-size: 1.3em;
  }

.categoriesPanel {
  display: flex;
  flex-direction: column;
  width: 96vw;
  margin: 2vw;
  }
  .categoriesForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .categoriesPostBar {
      display: flex;
      align-items: center;
      gap: 20px;
      }
      .categoriesInput {
        height: 2rem;
        width: 20rem;
        padding: 1rem;
        font-size: 1.25rem;
      }
      .categoriesPostButton {
        height: 3rem;
      }

  .categoriesBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    .category {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

/* /////////////////////////////////////////////////////// */
.coursesPanel {
  display: flex;
  flex-direction: column;
  width: 96vw;
  margin: 2vw;
  }
  .coursesForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    color: black;
    padding: 20px;

  }
  .coursesBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    color: black;
    padding: 20px;
    }
    .course {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      justify-items: center;
      margin:1%;
      width: 80%;
      border: 2px solid wheat;
      height:100px;
      justify-content: space-evenly;  
      background-color: #fafafa;
      color: rgb(0, 0, 0);
      padding: 20px;  
    }

.h1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  line-clamp: 4; 
  text-overflow: ellipsis;
  font-size: 12px;
  color: rgb(0, 0, 0);
}