.component {
  width: 100%;
  margin-top: var(--navBarHeight);
  display: flex;
  flex-direction: row;
  padding: 4% 0;
}

.message{
  position: absolute;
  top:12%;
  width:100%;
  height: 4%;
  background-color: black;
  color: white;
}

.h1{
  margin: 12%;
  color: white;
  height: 20px;
  font-size: 10px;

}



.buton{
  width: 250px;
  transition: all 0.5s;

}
.buton:hover{
  width: 400px;
  }