.adminPanelContainer {
    display: flex;
    flex-direction: column;
}

.adminPanelSection1 {
    display: flex;
}

.adminPanelSection2 {
    display: flex;
    flex-direction: column;
}

.adminPanelSection2-1 {
    display:flex;
}

.adminPanelSection2-2 {
    display: flex;
    flex-direction: column;

    width: 30%;
}

.adminPanelSectionCategoryList {
    display: flex;
    flex-direction: column;
}

.adminPanelSectionCategoryListItem {
    display: flex;

    justify-content: space-between;
}