
  .tableHover {
    
    width: 100%;
    border-collapse: separate;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    

  }
  
  th {
    
    background-color:#1eced19d;
    font-weight: bold;
    
  }
  
  /* Estilos para los botones dentro de la tabla */
   button {
    padding: 5px 10px;
    border: none;
    background-color:#005f6b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #c82333;
    }
  /* Estilo para los botones en las celdas de la última columna */
  td:last-child {
    
    text-align: center;
    
  }

