
.informacion{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content:space-around;
  bottom: -35%;
  padding-bottom: 20%;
  color: #000000;
  border-radius:100%;
  border: 2px solid rgb(255, 255, 255);
  justify-items: center;
  animation: blur-in 0.2s linear both} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}
}