.component {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content:center;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   box-sizing: border-box;
   margin: 20px 0;
}

.component-blurIn {
   animation: blur-in 0.3s ease;
} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


.navContainer {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   gap: 10rem;
}

.nav {
   /* margin: 10px 0; */
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.nav h3 {
   all: unset;
   border-top: 2px solid;
   border-bottom: 2px solid;
   padding: 10px 0;
   text-align: center;
   font-size: 120%;
   margin-bottom: 10px;
}
   
.nav a {
   text-decoration:none;
   color: inherit;
   font-size: 100%;
   text-align: center;
}

.nav p {
   margin: 5px;
}

.component a:hover {
   text-shadow:  0px 3px 12px rgb(128, 255, 255);
}

.title {
   width: 100%;
   box-sizing: border-box;
   text-align: end;
   padding-right: 10%;
}

@media screen and (max-width: 750px) {
   .navContainer {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
   }
   .component {
      position: unset;
      bottom: 0;
      margin-top: 60px;
   }
}