.form {
    justify-content: center;
    height:fit-content;
    width: 340px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(27, 149, 155, 0.68), rgba(102, 51, 153, 0.401));
    border-radius: 4px;
    position: relative;
    animation: scale-up-vertical-top 0.4s linear;
    display: fixed;
    
  }
  
  .container{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.672);
    width: infinite;
    height: infinite;
    display:flex;
    top: 0;
    left: 0;
   bottom: 0;
   right:0;
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-items: center;
    animation:blur-in 0.4s linear both}
     @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
  
  
  
  
              @keyframes scale-up-vertical-top {
                0% {
                  transform: scaleY(0.4);
                  transform-origin: center top;
                }
                100% {
                  transform: scaleY(1);
                  transform-origin: center top;
                }
              }
              
              label {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;
              }
              
              input {
                padding: 3%;
                width: 70%;
                border-radius: 8px;
                border: 1px solid #ccc;
                margin-top: 5px;
                margin-bottom: 3%;
              }
              
              button {
                padding: 1% 5%;
                background-color: #ffffff9d;
                color: #010101;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
              }
              
              button:hover {
                background-color: #050505b5;
                color: #ffffff;
              }
             
              .closeButton{
                display: flex;
               position: absolute;
                right: 20px;
                scale: 0.8;
              }