.container{
  margin-top: var(--navBarHeight);
  padding-top: 4%;
  padding-bottom: 25%;
  width: 100%;
  min-height: 90vh;
  background-color: rgb(94, 121, 148);
  color: aliceblue;
  animation:blur-in 1s linear both}
    @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
 
.img{
    
    width:80px;
    height: 80px;
    margin-left: 5%;
    margin-right: 4%;
    border-radius: 100%;
    border: solid 2px;
    border-color: rgba(248, 248, 248, 0.658);
    
}
.price{
font-size: 14px;
color: rgb(0, 0, 0);    
}

.product {
  
    display: flex;
    align-items: center;
    width: 40%;
    height:10%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
      margin-left: 3%;

    background-color: rgba(240, 248, 255, 0.26);
  }
  


.productscontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    display: flex;

    flex-direction: column;
}
.flex{
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    
}


.total{
   position: fixed;
   top:20%;
  margin-left: 50%;
    text-align: center;

}


.name{
 font-size: 20px;
width: 300px;
}
.name:hover{
    cursor: pointer;
}

.title{
    font-size: 60px;
    padding: 1%;
    padding-left: 2%;
    animation:scale-up-horizontal-left 0.4s }
     @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}}


.cantidad{
    display: flex;
    height: 30px;
    width: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color:black;
    color: white;
  
}

.cantidad_button{
    background-color:black;
    color: white;

    border: 2px solid black;
    transition: transform 0.3s}

.cantidad_button:hover{ 
    transform: scale(1.06);
    color:black;
    border-radius: 100%;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.totalcontainer{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    background-color: rgba(2, 11, 19, 0.26)

}

.items{
    font-size: 14px;
    padding: 2%;
    height: 25px;
    width: max-content;
    margin-bottom: 4%;
}


.pagar{
  font-size: 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: #28b0b4;
  border: none;
  color: #ffffff;
  text-align: center;  
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.pagar:hover{
  transform: scale(1.4);
  cursor: pointer;
}

.p{
  margin-left: 4%;
  margin-right: 2%;
}

.item{
  font-size: 30px;
}

.buton{
  border: 2px solid white;
  background-color: black;
  padding: 1%;
  transition: transform 0.5s;
}

.buton:hover{
  transform: scale(1.2);
  cursor: pointer;

}

.boton {
  display: inline-block;
  border-radius: 4px;
  background-color: #28b0b4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  height: 60px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonDisabled {
  background-color: white;
  border: none;
  color: white;
}
.buttonDisabled:hover {
  cursor: default;
}

.boton:hover {
  background-color: #0023944f;
  opacity: 1;
}

.name{
    margin-left: 10%;
    font-size: 20px;
    margin-top: 0%;
    width: 200px;}