.container{
    scale: 0.8;
    padding-bottom: 10%;
}
.container1{
    padding-top: 12%;
    display: flex;
    align-items: center;
 
    justify-content: space-around;
}
  
  .h1light {
    position: absolute;
    padding-left: 2%;
    padding-top: 4%;
    font-size: 44px;
    color: black;
  }
  .h1dark {
    padding-left: 2%;

    position: absolute;
    padding-top: 4%;
    font-size: 44px;
    color: rgb(255, 255, 255);
  }
  .h2light {
    font-size: 18px;
    width: 60%;
  }
  .h2dark {
    font-size: 18px;
    width: 60%;
  }

  
  .img{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .container2{
align-items: center;
justify-content: center;
justify-items: center;
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .labellight {
    color: black;
  }
  
  .plight {
    color: #000000;
    padding-top:0%;
    font-size: 22px;
  } 
  
  .pdark {
    color: #fcf5f5;
    font-size: 22px;
  }
  .alight {
    color: #000000;
    font-size: 42px;
  } 
  .adark {
    color: #fcf5f5;
    font-size: 42px;
  }



  .divlight {
    /* Estilos para div en modo claro */
  }
  
  .spanlight {
    /* Estilos para span en modo claro */
  }
  
  .formlight {
    /* Estilos para form en modo claro */
  }
  
  .hrlight {
    /* Estilos para hr en modo claro */
  }
  
  .errorlight {
    /* Estilos para error en modo claro */
  }
  
  .successlight {
    /* Estilos para success en modo claro */
  }
  
  .linklight {
    /* Estilos para link en modo claro */
  }
  
  .ullight {
    /* Estilos para ul en modo claro */
  }
  

  
  .inputdark {
    background-color: #302f2c;
    color: white;
  }
  
  .buttondark {
    background-color: #302f2c;
    color: white;
    border: 2px solid white;
  }
  
  .containerdark {
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    /* Estilos para containers en modo oscuro */
  }
  
  .labeldark {
    color: white;
  }
  
 
  
  .divdark {
    /* Estilos para div en modo oscuro */
  }
  
  .spandark {
    /* Estilos para span en modo oscuro */
  }
  
  .formdark {
    /* Estilos para form en modo oscuro */
  }
  
  .hrdark {
    /* Estilos para hr en modo oscuro */
  }
  
  .errordark {
    /* Estilos para error en modo oscuro */
  }
  
  .successdark {
    /* Estilos para success en modo oscuro */
  }
  
  .linkdark {
    /* Estilos para link en modo oscuro */
  }
  
  .uldark {
    /* Estilos para ul en modo oscuro */
  }
  
  .h2dark {
    /* Estilos para h2 en modo oscuro */
  }
  