.component{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    background: linear-gradient(93deg, rgba(0,89,101,1) 17%, rgba(0,140,158,1) 58%, rgba(255,255,255,1) 100%);
    margin-top: 7%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    animation: slide-in-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.title-dark {
  background: linear-gradient(93deg, rgba(0,89,101,1) 17%, rgba(0,140,158,0.9612219887955182) 54%, rgba(17,17,17,1) 100%);
}
.title h1 {
    margin: 5px;
}
  /* aqui */
h3 {
    padding: 5px;
    margin: 2% 0 2% 0;
    background-color: rgb(0, 140, 158, 0.85);
    color: whitesmoke;
} 
h4 {
  margin: 5px;
}

  @keyframes slide-in-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.content {
    display: flex;
    justify-content: space-evenly;
    margin: 10%;
    padding: 2%;
    gap: 2%;
    margin-top: 2%;
    flex-wrap: wrap;
}

.containerImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 300px;
    animation: blur-in-expand 1.2s linear both;
} 

@keyframes blur-in-expand {
    0% {
      transform: scale(0);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }

.imageURL {
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    animation: rotate-vertical-center 2s;
    box-shadow: 0px 0px 3px gray;
}

@keyframes rotate-vertical-center {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

.data {
    display: flex;
    text-align: left;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px -1px rgba(128, 128, 128);
}
.data span {
  display: flex;
  margin-left: 10px;
  background-color: rgb(0, 140, 158, 0.85);
}
.favorite {
  width: 25px;
  height: 25px;
  margin: 3px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 10px;
  filter: invert();
}
.favorite:hover {
  filter: invert(14%) sepia(100%) saturate(5408%) 
  hue-rotate(359deg) brightness(91%) contrast(124%); 
}
.favorite-dark{
  filter: none;
}
.addfavorite-dark{
  filter: none;
  animation: pop-favorite 1s;
}
.addfavorite-light{
  animation: pop-favorite 1s;
}

@keyframes pop-favorite {
  0% {
    transform: scale(1);filter: invert(14%) sepia(100%) saturate(5408%) 
    hue-rotate(359deg) brightness(91%) contrast(124%);
  }
  50% {
    transform: scale(1.5) rotateY(180deg);
    filter: invert(14%) sepia(100%) saturate(5408%) 
    hue-rotate(359deg) brightness(91%) contrast(124%); 
  }
  75% {
    filter: invert(11%) sepia(59%) saturate(4544%) 
    hue-rotate(5deg) brightness(102%) contrast(128%);
  }
  100% {
    transform: scale(1) ;
  }
}


.data-dark {
  box-shadow: 1px 1px 5px rgb(156, 156, 156);
  background-color: rgb(51, 51, 51);
}
.subData {
    margin: 2%;
}

.containerDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    min-width: 300px;
    max-width: 1000px;
}

.containerDescription h4 {
    margin: 0 3% 0 3%;
}

.description {
    background-color: whitesmoke;
    margin-bottom: 2%;
    margin-top: 0;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 1px 1px 5px -1px rgba(128, 128, 128);
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.description a {
  font-weight: bold;
  color: rgba(6, 103, 116);
  text-decoration-line: none;
}
.description-dark {
  box-shadow: 1px 1px 5px -1px rgb(156, 156, 156);
  background-color: rgb(51, 51, 51);
}
@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll {
    margin: 3%;
    overflow-y: scroll;
    max-height: 180px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    gap: 6px;
}
.technology {
    font-size: 12px;
    background-color: gray;
    color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px -1px black;
}

.comments {
    height: 300px;
}


.carga{
  position: absolute;
  margin-top: 10%;  
  animation:vibrate .5s linear both} @keyframes vibrate{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}
}

.link {
  text-decoration: none;
  color: black;
}