.component {
  height: 100vh;
  scale: 0.8;
  padding-bottom: 10%;
}
.component-dark {
  background-color: #000000;
  color: #ffffff;
}

.title {
  position: absolute;
  padding-left: 2%;
  padding-top: 4%;
  font-size: 44px;
}
.title-light {
  color: black;
}
.title-dark {
  color: rgb(255, 255, 255);
}

.container1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 12%;
  }
  .img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .description {
    font-size: 18px;
    width: 60%;  
  }

.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 4%;
  }

  .p {
    padding-top:0%;
    font-size: 22px;
  }
  .p-light {
    color: #000000;
  }
  .p-dark {
    color: #fcf5f5;
  }

  .link {
    font-size: 42px;
  }
  .link-light {
    color: #000000;
  }
  .link-dark {
    color: #fcf5f5;
  }

.button-light {
  border: 2px solid #302f2c;
  background-color: white;
  color: #302f2c;
}
.button-dark {
  border: 2px solid white;
  background-color: #302f2c;
  color: white;
}

/* //////////////////////////////////// */
  
  .input-dark {
    background-color: #302f2c;
    color: white;
  }
  .label-light {
    color: black;
  }
  .label-dark {
    color: white;
  }