.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name {
    font-size: 14px;
    color: #888;
    margin-bottom: 18px;
}
.description{
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  background-color: #888;
}
  
.price {
    font-size: 100%;
    margin-bottom: 5px;
    color: #007bff;
    font-weight: bold;
    margin-left: 4%;
}

  .container img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  .category{
    font-size: 100%;
    margin-bottom: 5px;
    color: #080909;
    font-weight: bold;
    margin-left: 4%;
  }
  .Shop{
    flex: 0 0 auto;
    width: 200px;
    padding: 1%;
    border-radius: 5%;
    background-color: #fff;
    border: 2px solid #000;
    transition: transform 0.3s, filter 0.3s;
  }
  .title{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    border: 1px solid blue;
  }
  .total{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    border: 1px solid blue;
  }