.h1light{
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(224, 224, 224);
}

.vidcat{
border-radius: 100%;
}
.h1dark{
    margin-top: 4%;

    justify-content: center;
    align-items: center;
    background-color: rgb(2, 1, 1);
}

.contain{
    display: flex;
    align-items: center;
    justify-content: space-around;
}