.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25%;
  background: linear-gradient(to right, rgba(0, 180, 204, 0.623) 0%, rgba(161,247,190,1) 100%);
  transition: transform 0.3s, filter 0.3s,width 0.2s;
}

.sidebar > div {
  height: 4rem;
}
