.component {
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* width: 100%; */
   height: 6rem;
   background: linear-gradient(to right, rgba(7, 154, 173, 0.979) 0%, rgb(161, 247, 190) 100%);
   transition: transform 0.3s, filter 0.3s,width 0.2s;
}

.component > div {
  /* height: 4rem; */
}

.optionSort {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 15%;
   height: 5rem;
   gap: 0.5rem;
}

.component select {
   height: 2.5rem;
   border-radius: 6px;
}

.optionFilter {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 40%;
   height: 5rem;
   gap: 0.5rem;
}
.filterSpan {
   display: flex;
   justify-content: center;
   gap: 4vw;
   width: 100%;
}
.priceSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 2.5rem;
   border-radius: 6px;
   width: 50%;
}
.optionFilter select {
   height: 2.5rem;
   width: 50%;
}
.priceSelectPrice {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 5px 0 0;
}
.priceSelectPrice p {
   margin: 0
}

.component label {
   text-align: center;
}

.component button, .responsive-component button {
    border: 2px solid rgb(8, 156, 137);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 10%;
    margin: 14px;
    height: 60px;
    border-radius: 4px;
    box-sizing: border-box;
    animation: borderGradientAnimation1 4s linear infinite, borderGradientAnimation2 4s linear infinite, shadowGradientAnimation 4s linear infinite;
}
.component button:hover, .responsive-component button:hover {
    transition:0.5s;
    height: 60px; 
    scale: 1.2;
    background-color:#4cf4dd ;
    border: none;
    color:black;
    cursor: pointer;
    animation:shadow-drop-center 0.4s linear both
}

@keyframes borderGradientAnimation1 {
	0%, 100% {
	    border-image: linear-gradient(to right, #ff0000, #0000ff) 1;
	}
	25%, 75% {
	    border-image: linear-gradient(to right, #0000ff, #00ffff) 1;
	}
	50% {
	    border-image: linear-gradient(to right, #0000ff, #5b095b) 1;
	}
}
@keyframes borderGradientAnimation2 {
	0%, 100% {
	    border-image: linear-gradient(to left, black, #ff0000, #0000ff) 1;
	}
	25%, 75% {
	    border-image: linear-gradient(to left, #0000ff, black, #00ffff) 1;
	}
	50% {
    	border-image: linear-gradient(to left, #0000ff, #5b095b, black) 1;
	}
}
@keyframes shadowGradientAnimation {
	0%, 100% {
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
	}
	25%, 75% {
	box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
	}
	50% {
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
	}
}


.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  margin:15% 0 0 10%;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  background-color: white;
  position:absolute;
  height: 50%;
  width: 80%;
  border-radius: 10px;
  box-sizing: border-box;
  /* padding: 5rem 2rem; */
  }
  .modal-light {
     background-color: whitesmoke;
     box-shadow: 5px 5px 1rem 2rem floralwhite inset;
  }
  .modal-dark {
     background-color: #212121;
     box-shadow: 5px 5px 1rem 1rem #34333350 inset;
  }
.filterPriceModal {
    width: 100%;
}


.modal select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-radius: 6px;
    width: 100%;
}

.modalDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modalDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 50%;
} 

/* -------- RESPONSIVE --------- */

@media screen and (width > 700px) {
  .responsive-component {
     display: none;
  }
}

@media screen and (max-width: 700px) {
  .responsive-component{
     top: var(--navFilterHeight);
     display:flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     width: 100%;
     height: 4%;
     padding: 1rem;
     color: aliceblue;
     box-sizing: border-box;
     background-color: rgba(0, 0, 0, 0.672);
     overflow: hidden;
  }

  .responsive-component button {
     width: 40%;
     height: 2.5rem;
  }
  .component {
     display: none;
  }
}