.component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* margin:0 2% 2%; */
  justify-content: space-evenly;
}

.paginado{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000ab;
  color: rgb(246, 251, 255);
  height: 4rem;
  /* animation:scale-up-horizontal-left 0.4s  */
} @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}}
  .paginado a {
    text-decoration: none;
    color: white;
  }

.numberBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  width: 10%;
  padding: 7px 100%;
  border-radius: 4px;
}
    .paginado a:hover .numberBox {
        /* border: 3px solid black;
        background-color: black; */
    }
    .paginado-dark a:hover .numberBox {
        border: 3px solid white;
        background-color: white;
    }
    .paginado-dark a:hover {
        color: black;
    }

.coursesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}